<form action="/addBookToFolder" method="post" id="update-folder-form">
  <div class="form" >
    <input type="text" name="folder" id="Folder_input" style="width:100%;margin-bottom: 15px;height:32px" value=<%=name %>>
    <input type="hidden" name="folder_ID" style="display:none" value=<%=id %>>

    <select name="book_ID" style="width:100%;margin-bottom: 15px;height: 32px;border: 2px solid #FFF;background-color: #6C7A89; font-size: 15px;color:#fff">
      <option></option>
      <% if(books){ books.forEach(function(book) { %>
        <option name="book_ID" value=<%=book.book_ID%> >
          <%=book.Title %>
        </option>
        <% }); }%>
    </select>
    <button onclick="addbookstoFolder()"><i class="fa icon-check-circle fa-lg"></i> Save</button>
  </div>
</form>
