@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?rldu28');
    src:    url('fonts/icomoon.eot?rldu28#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?rldu28') format('truetype'),
        url('fonts/icomoon.woff?rldu28') format('woff'),
        url('fonts/icomoon.svg?rldu28#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 20px;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-key:before {
    content: "\e901";
}
.icon-trash-o:before {
    content: "\e902";
}
.icon-download:before {
    content: "\e904";
}
.icon-cloud-download:before {
    content: "\e905";
}
.icon-edit:before {
    content: "\e906";
}
.icon-plus:before {
    content: "\e907";
}
.icon-search:before {
    content: "\e909";
}
.icon-bar-chart:before {
    content: "\e90a";
}
.icon-star-o:before {
    content: "\e90b";
}
.icon-star:before {
    content: "\e90c";
}
.icon-sort-alpha-asc:before {
    content: "\e90d";
}
.icon-sign-out:before {
    content: "\e90e";
}
.icon-bookmark-o:before {
    content: "\e90f";
}
.icon-bookmark:before {
    content: "\e910";
    font-size: 70px;
}
.icon-th:before {
    content: "\e911";
}
.icon-check-circle:before {
    content: "\e900";
}
.icon-folder-plus:before {
    content: "\e931";
}
