<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERROR FORM</title>
</head>
<body>
<h1>ERROR</h1>
    <div>
    The login form was not filled up properly! Please try again!
    </div>
</body>
</html>
