<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bookmarx</title>
<!--     <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
 -->    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/users.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/icomoon/style.css">


</head>
<body>
    <div id="outer">
        <div id="middle">

            <a class="button" href="#">
                <i class="fa icon-bookmark-o fa-1x"></i> Bookmarx
            </a>

            <div class="content">
            <h3 style="color:#AEC6CF"><%= errormsg %></h3>
        </div>

            <div id="newuser">
                <div class="grid grid-pad">
                    <div class="tabs is-centered">
                        <ul>
                            <li id="signin"><a href="/login">Sign in</a></li>
                            <li id="newuser"class="is-active"><a href="/signup">New User</a></li>
                        </ul>
                    </div>


                    <form method='post' action='/newAccount' id="sign-in-form">
                        <div class="form">
                            <input type="text" name="username" placeholder="Enter a username" autocomplete="new-password">
                            <p></p>
                            <div class="textFieldWrapper">
                                <input type="password" name="password" placeholder="Enter a password" autocomplete="new-password">
                            </div>

                            <div class="buttonWrapper">
                              <br>
                              <input class= "logbutton" type='submit' value="SUBMIT">
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>


  </div>





</body>

</html>
